@CHARSET "UTF-8";

#comparison_table { background: gray; }

#view {
	// background-color: #4444EE; 

	background: linear-gradient(to bottom right, #BBBBFF, #4444EE)
}

#box {

	padding-top	 : 1.7em;
	padding-left : 2.5em;
	padding-right : 2.5em;
	padding-bottom : 1.7em;
}
 

#outer {

	//margin: 5em;
	// background-color: #44EE44;
	padding-left: 5em;
	padding-right: 5em;

	padding-top: 0.5em;
	padding-bottom: 1em;

	border-radius: 1em;
	
	border-color: #44CC66;
	border-style: solid; 

	// background: linear-gradient(to bottom right, #44EE44, #BBFFBB);
	background: linear-gradient(to bottom right, #88EE88, #DDFFDD);
}

.outer_title {
	text-align: center;
	font-size: 2.5em;
	padding-bottom: 0.3em;
}

#tabholder {
	//border-color: #33EE33;
	border-style: solid;
	
	//-moz-border-image: -moz-linear-gradient(to bottom right, #33EE33, #AAFFAA);
	-moz-border-image: -moz-linear-gradient(to bottom right, #77EE77, #CCFFCC);
	
	//border-image: linear-gradient(to bottom, #33EE33, #AAFFAA);
	border-image-slice: 1;
}

.tab {
	font-size: 2.1 em;
	padding: 0.2em;

	background-color: #44CC44;

	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	
	border-style: solid;
	border-color: #40C140;
	
	border-bottom: 0px;

	padding-left: 3em;
	padding-right: 3em;
	
	cursor: pointer;
}

.tab_page {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


#tabpanel {
	
}

#tabholder {
	padding-top: 0.5em;
}

/*
#tab_faq {
	background-color: #EEEEEE;
	border-radius: 0.5em;
	
	padding: 0.3em;
}
*/

#quick_explanation {
	display: inline-block;
}

#main_menu {
	display: inline-block;
	margin: auto;
}

.faq_item {
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 1em;
	
	background-color: #77AA77;
	
	border-radius: 0.5em;
	padding: 0.8em;
	border-style: solid;
	border-color: #559955;
}

.faq_q {
	font-weight: bold;
	font-size: 0.3em:
	background-color: #AAAAAA;
}

.faq_a {
	font-size: 0.25em:
	background-color: #AAAAAA;
}

.comparison_row {
	font-style: normal;
	font-family: monospace;
	background-color: #AAAAAA;
	color: #2222222;  
	padding : 10px;
}

/*
table {
	border-radius: 0.3em;
	
	padding: 0.1em;
}

td {
	padding: 0.1em;
}
*/

.main_header { font-size: 1.7em; }

.main_header2 { font-size: 1.0em; font-weight: bold;}

.feature_table {
	display: table;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	
	border-spacing: 0.8em;
}

.feature_row {
	display : table-row;
}

.feature_hover {
	z-index: 100;
	position: absolute; // for z-index to work
	
	padding-left: 1em;
	padding-right: 1em;

	padding-top: 0.5em;
	padding-bottom: 0.5em;

	border-radius: 0.7em;
	
	border-color: #44CC66;
	border-style: solid; 

	// background: linear-gradient(to bottom right, #44EE44, #BBFFBB);
	background: linear-gradient(to bottom right, #88EE88, #DDFFDD);
}

/* Should be similar to faq item? */
.feature_item {
	display : table-cell;

	background-color: #77AA77;

	text-align: center;
		
	border-radius: 0.2em;
	padding: 0.4em;
	border-style: solid;
	border-color: #559955;

}


.java_code {
	font-style: normal;
	font-family: monospace; 
	background: #EEEEEE;
	border-color: #AAAAAA;
	border-style: solid;
	border-radius: 0.3em;
	box-sizing:border-box;
	box-shadow: 0.2em;
	
	
	padding: 0.2em;
	margin: 0.2em;

	//width: 50%;
	// height: 100%;
} 

.sql_code {
	font-style: normal;
	font-family: monospace; 
	background: #EEEEEE;
	border-color: #AAAAAA;
	border-style: solid;
	border-radius: 0.3em;
	box-sizing:border-box;
	box-shadow: 0.2em;
	
	padding: 0.2em;
	margin: 0.2em;

	// height: 100%;
	// width: 50%;
} 

.code_comparison {
	display: table;
	width: 100%;
	position: relative;
	
	border-spacing: 10px;
}

.code_comparison_row {
	display: table-row;
	width: 100%;
	position: relative;
}

.code_lhs {
	//display: inline-block;
	width: 45%;
	//vertical-align: top;
	display: table-cell;

	vertical-align: middle;
	
}

.code_rhs {
	display: table-cell;
	margin-left: 200px;
	height: 100%;
	// display: inline-block;
	width: 45%;
	vertical-align: top;
}

