@CHARSET "UTF-8";


.examples_div_layout {
	display: table;
	height: 100%;
	width: 70%; 
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.examples_top_tabbuttons_layout {
	display: table-row;
	height:20%;	
}


.examples_upper_left_layout {
	display: table-cell;	
}

.examples_top_tabbuttons_cell_layout {
	display: table-cell;	
}

.examples_upper_right_layout {
	display: table-cell;
}


.examples_main_layout {
	display: table-row;
	height: 80%;
	position: relative;	
}

.examples_left_tabbuttons_cell_layout {
	display: table-cell;
	width: 10%;
	height: 100%;
	position: relative;
}


.example_tab_top {
	// display: table;
}

.example_tab_left_layout {
	display: block;
}

.examples_display_layout {
	display:table-cell;
	height: 100%;
	vertical-align: middle;
	text-align: center;	
}

.examples_right_tabbuttons_cell_layout {
	display: table-cell;
	width: 10%;
}

/*
#examples_left_tabbuttons {
	position: relative;
	display: block;

}
*/

.example_tabs_left_layout {
	float: right;
	
	moz-margin-right: 20px;
}

